body{
    margin:0;

}
::-webkit-scrollbar{
    display:none;
}
h1{
    font-size: 70px;
    color: whitesmoke;
    margin:0;
    font-family: 'Amiri', serif;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.39);
}
h2{
    font-size: 50px;
    color: whitesmoke;
    margin:0;
    font-family: 'Amiri', serif;
    text-shadow: 3px 2px rgba(0, 0, 0, 0.438);
}
h3{
    font-size: 50px;
    color: rgb(243, 65, 65);
    margin: 0;
    font-family: 'Amiri', serif;
    text-shadow: 3px 2px rgba(185, 95, 95, 0.425);
}
.bakgrunnur{
    text-align: center;
    background-image: url(/img/bakgrunnur.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    width:100vw;
    height:100vh;
    margin:0;
}
.bakgrunnur2{
    background-image: url(https://wallpaperaccess.com/full/1231662.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.bakgrunnur3{
    background-image: url(https://cdn.discordapp.com/attachments/448444839382482944/818602893866172446/eld.gif);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    margin: 0;
}
.griddari{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto;
    grid-gap: 100px;
    padding: 10px;
}
.griddari > div{
    background-color: rgba(0, 0, 0, 0.418);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.418);
}
.midja{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.midja2 {
    margin: 0;
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.midja3{
    margin: 0;
    position: absolute;
    top: 135%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.midja4{
    margin: 0;
    position: absolute;
    top: 205%;
    left: 50%;
    transform: translate(-50%, -50%);
}
